@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --animate-text-duration: 3s;
}

* {
  font-family: sans-serif;
}

.bgz {
  background: repeating-linear-gradient(
    #303030,
    #303030 1px,
    #333232 1px,
    #333232 2px,
    #202020 2px,
    #202020 3px,
    #101010 3px,
    #101010 4px
  );
}

.dekbanjarnkim {
  --bg-size: 400%;
  --first-color: #fa4eab;
  --second-color: #ffd0ea;
  background: linear-gradient(
      90deg,
      var(--first-color),
      var(--second-color),
      var(--first-color)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.animate-text-gradient {
  -webkit-animation: animatedgradient var(--animate-text-duration) linear
    infinite;
  -moz-animation: animatedgradient var(--animate-text-duration) linear infinite;
  animation: animatedgradient var(--animate-text-duration) linear infinite;
}

@keyframes animatedgradient {
  to {
    background-position: var(--bg-size) 0;
  }
}

#cut-circle {
  stroke-dasharray: 110;
  stroke-dashoffset: 0;
}
