.swiper-button-next,
.swiper-button-prev {
  color: #fa4eab;
  margin: 0 10rem;
}
.swiper-button-next {
  animation: bounceNext 2s infinite;
}
.swiper-button-prev {
  animation: bouncePrev 2s infinite;
}

.swiper-pagination-bullet {
  background-color: #fa4eab;
}
@keyframes bounceNext {
  0%,
  100% {
    transform: translateX(-50%) scale(1.5);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0) scale(1.5);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bouncePrev {
  0%,
  100% {
    transform: translateX(50%) scale(1.5);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0) scale(1.5);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.swiper-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}
.swiper-scrollbar-drag {
  background-color: #fa4eaad1;
  height: 6px;
  width: 6px;
}
